.about-main{
    max-width: 900px;
    display: flex;
    margin: 0 auto;
    padding: 46px;
    background-color: rgb(216, 241, 231);
    margin-top: 30px;
    margin-bottom: 40px;
    border-radius: 15px;
    border: 1px solid rgb(110, 107, 107);
    box-shadow: 10px 10px 10px rgba(114, 149, 133, 0.6);
}
.about-main h5{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    font-style: italic;
}

/* Media query for small devices */
@media (max-width: 768px) {
    .about-main {
      padding: 20px;
    }
    
    .about-main h5 {
      font-size: 1.1rem;
    }
  }
  
  /* Media query for medium devices */
  @media (max-width: 992px) {
    .about-main {
      max-width: 700px;
    }
}

/* Media query for small devices */
@media (max-width: 576px) {
    .about-main {
      padding: 15px;
      margin-top: 20px;
      margin-bottom: 30px;
    }
    
    .about-main h5 {
      font-size: 0.8rem;
    }
  }