.sq-main{
    background-color: #e7eff1;
}
.sq-box1{
    display:flex;
    justify-content: flex-start;
    /* padding: 15px; */
    /* margin-left: 40px;
    */
    /* margin-top: 20px; */
    /* padding-left: 100px; */
    /* gap: 15px; */
}
.box1-inner{
    /* margin-top: 40px; */
    /* padding-top: 70px; */
    display: flex;
    flex-direction: column;
    height:690px;
    width:50%;
    align-items: flex-start;
    justify-content: center;
    background-color: beige;
    padding-bottom: 70px ;
    background: radial-gradient(closest-side, #cedbe3, rgb(179, 209, 242), #f4f5f7);
    padding-left:70px;;
}


.btn-login{
margin-top: 2vw;
  background-color: #2d3854;
  border: none;
  width: 15vw;
  height: 4.8vw;
  font-size: 1.8vw;
  color: #FFFFFF;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;  
  padding: 20px 20px;
  text-decoration: none;
}
.btn-login:hover{
    background-color: #FFD700;
    color: #000000;
    transition: all 0.3s ease;
    
}
span {
    content: "\2192";
  }
.box2-inner{
    /* padding: 10px; */
   
    width:400px;
}
.img-box2{
    width: 815px;
    height:690px;
    border-radius: 0.5px;
}
.sq-box2{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3px;
    margin-top: 120px;
    padding-left: 100px;
    gap: 15px;
    
}
.vitamin-list{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    padding: 10px;
}
.sq-box2 h2{
    font-size: 55px;
    justify-content: center;
}
.vitamin-links{
    text-decoration: none;
    color: black;
    font-size: 40px;
    margin-bottom: 50px;
    padding:10px;
}
.vitamin-links:hover{
    color: #DAA521;
    font-size: 43px;
    transition: all 0.3s ease;
}
.sq-box3 h2{
    font-size: 50px;
    display:flex;
    margin-left:85px;
    justify-content: center;
    align-items: center;
}
.sq-box3{
    display:flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: row;
    padding: 3px;
    margin-top: 100px;
    padding-left: 190px;
    gap: 100px;
    padding-bottom: 100px;
}
.inner-link-v{
    text-decoration: none;
    padding:12px;
    color: rgb(248, 239, 225);
    background-color: #2d3854;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.4);
}
.inner-link-v:hover{
    background-color: #e3b950;
    color: rgb(43, 48, 101);
    font-size: 23px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.4);
    border: 1px solid white;
}
.sq-box3 span{
    margin-left: 20px;
    font-size: 60px;
}

.sq-box4{
    padding-bottom: 100px;
    /* padding-left:50px; */
    padding-top: 100px;
    display: flex;
    /* gap: 30px; */
   
}
.sq-box4 h1{
    font-size: 60px;
    font-weight: 500;
    display:flex;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    /* margin-left:85px; */
    align-items: center;
    padding:100px 150px;
    /* background: radial-gradient(closest-side, #93b8dc, rgb(172, 198, 223), #e7eff1); */
    background-color: #e7eff1;
}
.span-sq4{
    font-size:150px;
}
.video-search {
    width: 900px;
    /* width:50%; */
    height: 500px;
    border-radius: 50%;
    object-fit: cover; /* Ensure the video covers the entire container */
    object-position: center; /* Center the video within its container */
     /* background: radial-gradient(closest-side, #93b8dc, rgb(172, 198, 223), #e7eff1);  */
    background-color: #9f6060;  
    margin-right:10px;
}
.video-search:hover{
    box-shadow: 20px 20px 20px rgba(121, 159, 199, 0.4);

}
.sq-box5{
    display: flex;
    flex-direction: row;
    gap:120px;
    padding-left: 250px;
    padding-bottom: 60px;
}
.sq-box5 h1{
    font-size: 60px;
}
.inner-sq5{
    padding:50px;
    padding-bottom: 80px;
    padding-top:80px;
    border: 1px dotted rgb(142, 108, 108);
    transition: border-color 0.3s ease;
    border-radius: 10px;
    /* border: 1px dotted rgb(142, 108, 108); */
    box-shadow: 5px 5px 5px rgba(168, 117, 117, 0.4);
}


/* Define animation for border color change */
@keyframes borderAnimation {
  0% { border-color: rgb(142, 108, 108); }
  50% { border-color: rgb(255, 0, 0); }
  100% { border-color: rgb(142, 108, 108); }
}

/* Apply animation to the border */
.animated-border {
  animation: borderAnimation 2s infinite;
}
.inner-sq5:hover{
    background-color: #e8e3ef;
    box-shadow: 5px 5px 5px rgba(192, 95, 225, 0.4);

}
.link-sq5{
    text-decoration: none;
    color: #2d3854;
}

.sq-box6{
    display:flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: row;
    padding: 3px;
    margin-top: 100px;
    padding-left: 170px;
    gap: 100px;
    padding-bottom: 100px;
    /* max-width:1700px; */
    
}
.sq-box6 h2{
    font-size: 60px;
    display:flex;
    margin-left:95px;
    justify-content: center;
    align-items: center;
    text-shadow: 10px 10px 10px rgba(27, 115, 231, 0.4);
}
.inner-link-v6{
    text-decoration: none;
    padding:15px;
    color: rgb(248, 239, 225);
    background-color: #2d3854;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 5px 5px 7px rgba(43, 113, 179, 0.4);
}
.inner-link-v6:hover{
    background-color: #e3b950;
    color: rgb(43, 48, 101);
    font-size: 23px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.4);
    border: 1px solid white;
}
.sq-box6 span{
    margin-left: 20px;
    font-size: 60px;
}