.nav-link{
    font-size: 28px; /* Increase font size */
    transition: color 0.3s; /* Smooth transition for color change */
}

.nav-link:hover {
    color: #2f5b40; /* Change color on hover */
    font-size: 30px;
}