.vita{
 margin: 40px 50px;
 background-color: rgb(248, 242, 218);
 padding:1px 10px;
}
.vita-main{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}
.vita-img{
    width: 50%;
    height: 480px;
    border-radius: 3px;
}

.vita-right{
    width: 50%;
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px;
    gap: 25px;
    padding-top:50px;
}
.vita-title{
  font-weight: 500;
  font-size: 100px;

}

.vitamin-list-a {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
}

.vitamin-list-a li {
  padding: 15px;
  padding-bottom: 100px;
  border-bottom: 1px solid #9b9a9a; 
  background-color: #e2f6f7;/* Add a border between list items */
}

.vitamin-list-a li.alternate {
  background-color: #f3dede; /* Alternate background color */
}

/* Hover effect */
.vitamin-list li:hover {
  background-color: #e8e4e4; /* Lighter background color on hover */
}
.vita-title{
    width: 50%;
    padding-top: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.vita-right li{
    font-size:20px;
}
.vita-intake-p{
    font-size: 19px;
}

.vita-down {
    display: flex;
    justify-content: flex-start;
    margin-left: 90px;
    gap:30px;
  }
  
  .vita-down-content {
    display: flex;
    align-items: center;
    gap:120px;
  }
  .vita-down-h1:hover{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    column-rule-color: #000000;
  }
  
  .imga {
    width:800px;
    height: 500px;
    margin-left: 15px;
    border-radius: 8px;
    padding-bottom: 5px;
  }
span {
  content: "\2190";
  border: #000;
  border-width: 5px;
}