
.button-login{
  padding: 5px;
  font-weight: 600;
  text-transform: uppercase;
}

.button-login:hover{
  background-color: rgb(248, 189, 80);
  padding:7px;
}
.container-login-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-weight: 500;

}
.container-login-main{
  background-image: url('https://images.pexels.com/photos/1028599/pexels-photo-1028599.jpeg?auto=compress&cs=tinysrgb&w=400');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.form-block-wrapper {
  width: 500px;
  font-weight: 500;
  border: 2.5px solid #000000;
  border-radius: 5px;
  padding: 20px;
  backdrop-filter: blur(20px);
  border-radius: 1px; /* Match the border radius of the parent */
   /* Ensure the overlay is behind the content */
   text-align: center;
   font-family: cursive;
   padding-top:30px;
   padding-bottom:30px;
   
}

.form-block__header {
  text-align: center;
  margin-bottom: 20px;
}

.form-block__toggle-block {
  margin-top: 20px;
}
.login-h1{
  font-size:50px;
}

/* components/LoginForm.js */
.form-group {
  margin-bottom: 20px;
}
.input-login-sp{
  padding:10px;
}

.form-group__input{
  padding:5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 7px;
}

.login-span{
  font-size:50px;
}
/* Add this to your CSS file */
#form-toggler {
  transform: scale(1.5); /* Adjust the scale factor as needed */
}
