.vitaminA-container-v{
    font-family: sans-serif;
    font-size: 18px;
}

.vitaminA-inner-container-v{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.image_vitaminA-v{
    width:700px;
    height:450px;
    /* object-fit: cover; */
    margin-bottom: 40px;
    border-radius: 10px;
}

.vitaminA-heading-v{
    font-size: 50px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 50px;
}

.vitaminA-information-v{
    margin: 0 auto;
    width: 75%;
    /* text-align: center; */
}

.heading-vitaminA-v{
margin-bottom: 20px;
}

.vitaminA-deficiency-text-v{
    font-size: 18px;
    color:rgb(35, 31, 32);
}

.vitamin_list-v{
    margin-left: 40px;
}
.vitamin_list-v li{
    padding: 4px;
}

/* .image-container-vitaminA{
    object-fit: cover;
} */

.image-container-vitaminA-middle-v{
    margin: 0 auto;
    width: 75%;
}
.last-vitbv{
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 70px;
}
.last-vitbv h2{
    font-size: 50px;
}
.link-to-vitb{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(25, 25, 72);
    padding: 10px;
    color: white;
    border-radius: 10px;
    transition: all 0.3s ease;
    text-align: center;
    padding-top:18px;
}
.link-to-vitb:hover{
    background-color: rgb(177, 214, 182);
    color: white;
    border-radius: 14px;
    color: black;
    padding:15px;
    padding-top:18px;
    transition: all 0.3s ease;
}
.span-last-b{
    padding-left: 4px;
}