.vitaminD-container-v {
    font-family: sans-serif;
}

.vitaminD-inner-container-v {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image_vitaminD-v {
    width: 700px;
    height: 450px;
    /* object-fit: cover; */
    margin-bottom: 40px;
    border-radius: 10px;
}

.vitaminD-heading-v {
    font-size: 50px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 50px;
}

.vitaminD-information-v {
    margin: 0 auto;
    width: 75%;
    /* text-align: center; */
}

.heading-vitaminD-v {
    margin-bottom: 20px;
}

.vitaminD-deficiency-text-v {
    font-size: 18px;
    color: rgb(35, 31, 32);
}

.vitamin_list-v {
    margin-left: 40px;
}

.vitamin_list-v li {
    padding: 4px;
}

/* .image-container-vitaminD {
    object-fit: cover;
} */

.image-container-vitaminD-middle-v {
    margin: 0 auto;
    width: 75%;
}

.vitaminD-sources-text-v,.vitaminD-benefits-text-v{
    font-size: 18px;
}